.header h1 {
    font-size: var(--page-title);
}

.membership-page-apply-button {
    background-color: #0F233B;
    color: white;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-bottom: 42px;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    border: none;
}

.membership-page h2, .membership-page h3 {
    color: #0F233B;
}

.information-section h2, .apply-section h2 {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: var(--section-heading);
}

.information-section h2, .information-section p {
    margin-left: 60px;
}


.membership-why-join-description, .apply-section p {
    padding-top: 10px;
    font-size: 20px;
    padding-right: 60px;
}

.annual-rates-section {
    margin-top: 60px;
    padding: 40px 20px 90px 20px;
    text-align: center;
    background-color: #F7F7F7;
    font-size: large;
}

.annual-rates p {
    margin-bottom: 50px;
}

.annual-rates-section h3 {
    padding-bottom: 20px;
}

.membership-page-rates-cards {
    display: flex;
    justify-content: center;
}

.membership-page h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
}

.membership-page-price-box {
    width: 328px;
    height: 243px;
    background-color: #FFFFFF;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 15px;
    box-shadow: 8px 8px 4px #e5e5e5;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.membership-page-price-box:hover {
    box-shadow: 0 0 10px;
}

.membership-page-price-text {
    padding-top: 50px;
    padding-right: 50px;
    font-size: 25px;
    font-weight: 500;
}

.membership-page-price-box span {
    font-size: 70px;
    font-weight: 700;
}

.membership-page-price-type {
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
}

.apply-section span {
    font-weight: bold;
}

.apply-section {
    margin: 50px 60px 70px 60px;
}

.apply-section h2 {
    padding-bottom: 20px;
}

.apply-section h4 {
    font-weight: 600;
    margin-bottom: 0px;
}

.membership-form {
    margin: 100px 20px;
}

.membership-form input[type=text] {
    display: block;
    margin-bottom: 10px;
}

.membership-form input[type=text] {
    outline: 0;
    border-width: 0 0 2px;
    width: 80%;
    border-color: black
}

.membership-form label {
    margin-top: 20px;
}

.options-questions input {
    margin-right: 10px;
}

@media screen and (max-width: 800px) {
    .header {
        width: 100%;
        height: 256px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .header section h1 {
        font-size: var(--mobile-section-heading);
    }
    
    .header section {
        color: white;
        z-index: 0;
        text-align: center;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .membership-page-rates-cards {
        flex-direction: column;
    }

    .membership-page-price-box {
        width: 250px;
        height: 200px;
        box-shadow: 8px 8px 4px #e5e5e5;
        margin: 0 auto 20px auto;
    }

    .membership-page-price-box span {
        font-size: 52px;
        font-weight: 700;
    }

    .membership-page-price-text {
        padding-top: 32px;
        padding-right: 20px;
        font-size: 25px;
        font-weight: 500;
    }

    .information-section h2, .information-section p, .apply-section {
        margin-left: 50px;
    }

    .membership-page-price-type {
        padding-left: 30px;
        text-align: center;
    }
    
    .apply-section p, .membership-why-join-description {
        padding-right: 4px;
        font-size: 16px;
    }

    .membership-why-join-description {
        padding-right: 40px;
    }

    .apply-section h2 {
        font-size: 40px;
    }

    .annual-rates-section {
        margin-top: 50px;
        padding: 30px 20px 50px 20px;
        text-align: center;
        background-color: #F7F7F7;
        font-size: large;
    }

    .annual-rates-section p {
        margin-left: 20px;
        text-align: center;
    }
}