.header h1 {
    font-size: var(--page-title);
}

.membership-title p {
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin: 30px 20px 30px 0;
}

.apply-button {
    background-color: #0F233B;
    color: white;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.apply-button:hover {
    background-image: linear-gradient(rgb(0 0 0/25%) 0 0);
  }
  

.membership-h2, .membership-h3 {
    color: #0F233B;
}

.membership-h2 {
    font-weight: 600;
    font-size: 45px;
}

.information-section {
    padding-left: 1%;
}

.caption {
    padding-top: 10px;
    font-weight: 600;
    font-size: medium;
}

#annual-rates {
    text-align: center;
    background-color: #F7F7F7;
    padding: 20px;
    font-size: large;
}

.rates {
    display: flex;
    justify-content: center;
}

h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
}

.price-box {
    width: 328px;
    height: 243px;
    background-color: #FFFFFF;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 15px;
    box-shadow: 4px 4px #e5e5e5;
    margin-bottom: 20px;
}

.price-text {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 500;
}

.price {
    font-size: 70px;
    font-weight: 700;
}

.price-type {
    font-size: 25px;
    font-weight: 500;
}

.bold {
    font-weight: bold;
}

/* remove */
.apply-section {
    margin-bottom: 50px;
}

.apply-section image {
    margin-left: 10px;
}

.apply-text p {
    margin: 0;
}

.apply-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
}
