.registration-page h2 {
    margin-bottom: 30px;
    font-weight: bolder;
}

.registration-page-form {
    margin: 215px auto;
    border: solid var(--dark-blue) 1px;
    border-radius: 5px;
    padding: 40px;
    color: var(--dark-blue);
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-page-form h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.registration-page-form input[type='text'],
.registration-page input[type="email"],
.registration-page-form select {
    border: solid var(--dark-blue) 1px;
    border-radius: 4px;
    width: 100%;
    padding: 7px;
}

.registration-page-form .name-info {
    display: flex;
    flex-wrap: wrap;
}

.registration-page-form-group {
    margin-top: 30px;
}

.registration-form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #0F233B;
}

.registration-page input[type="text"]:focus,
.registration-page input[type="email"]:focus {
    border-bottom-color: black;
    /* change */
}

.registration-page input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}

.registration-form-label.radio-label {
    display: inline-block;
}

.registration-form-button {
    display: block;
    width: 160px;
    padding: 10px;
    margin: 20px auto 0;
    background-color: #0F233B;
    color: white;
    border-radius: 10px;
    border: none;
}

.registration-form-button:hover {
    background-color: gray;
}