.scholarships-section {
  margin-bottom: 60px;
}
.scholarships-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  text-align: left;
  background-color: #0F233B;
  padding: 100px 50px;
  align-items: center;
}

.title h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 700;
}

img {
  width: 752px;
  height: 442px;
  opacity: 0.5;
}
