.scholarships-section {
  margin-bottom: 60px;
}

/* HEADER */
.scholarships-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  text-align: left;
  background-color: #0F233B;
  padding: 100px 50px;
  align-items: center;
}

.title h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 700;
}

img {
  width: 752px;
  height: 442px;
  opacity: 0.5;
}

/* ABOUT OUR SCHOLARSHIP SECTION */
.about-our-scholarships {
  margin: 100px;
}

.about-our-scholarships h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #AAA5A5;
  font-weight: 200;
}

.scholarship-info {
  margin: 40px;
  margin-left: 20px;
}

.details {
  border-left: solid #D9D9D9 4px;
}

.scholarship-info h3 {
  font-size: 18px;
  font-weight: 600;
}