/* BODY */
body {
    font-family: var(--main-font, sans-serif);
}

/* TITLE SECTION */
.title-section {
    padding: 100px 500px 100px 50px;
    background-color: var(--dark-blue);
}

.title-image {
    color: var(--white);
    width: 430px;
    position: absolute;
    top: 250px;
    right: 70px;
}

.title-text {
    color: var(--white);
    font-weight: 600;
    font-size: var(--page-title);
}

.description-text {
    color: var(--white);
    font-weight: 300;
    font-size: 20px;
    margin: 30px 20px 30px 0;
}

.about-us-button {
    color: var(--dark-blue);
    background-color: var(--white);
    font-weight: 600;
    font-size: 17px;
    padding: 10px 40px;
    border-radius: 30px;
}

/* BECOME A MEMBER SECTION */
.become-a-member-section {
    text-align: center;
    margin-bottom: 80px;
}

.become-member-text {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: var(--page-title);
    padding-top: 90px;
}

.become-member-subtext {
    font-size: 20px;
}

.membership-button {
    color: var(--white);
    background-color: var(--dark-blue);
    font-weight: 550;
    font-size: 17px;
    padding: 12px 65px;
    margin-top: 10px;
    border-radius: 12px;
}

/* MEMBERSHIP CARDS */
.membership-cards {
    background-color: var(--dark-blue);
}

/* WHAT WE DO SECTION */
.what-we-do-section {
    padding: 200px 50px;
}

.what-we-do-text {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: var(--page-title);
    text-align: center;
    margin-bottom: 80px;
}

.what-we-do-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.what-we-do-card {
    border-radius: 15px;
    box-shadow: 3px 3px 3px #D9D9D6;
    width: 340px;
    height: 387px;
    overflow: hidden;
}

.card-header {
    border-radius: 15px;
    background-color: var(--dark-blue);
    width: 340px;
    height: 99px;
}

.card-body {
    margin: 40px;
}

.img {
    color: var(--white);
    text-align: center;
    padding-top: 10%;
}

.card-name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.card-body {
    text-align: center;
}
