/* TITLE SECTION */
.title-section {
    padding: 100px 500px 100px 50px;
    background-color: #0F233B;
}

.title-image {
    color: white;
    width: 430px;
    position: absolute;
    top: 250px;
    right: 70px;
}

.title-text {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 45px;
}

.description-text {
    color: white;
    font-weight: 300;
    font-size: 20px;
    margin: 30px 20px 30px 0;
}

.learn-more-button {
    color: #0F233B;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding: 10px 40px;
}

/* WHAT WE DO SECTION */
.what-we-do-section {
    padding: 200px 50px;
}

.what-we-do-text {
    color: #0F233B;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
}

.what-we-do-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.what-we-do-card {
    border-radius: 15px;
    box-shadow: 3px 3px 3px #D9D9D6;
    width: 340px;
    height: 387px;
    overflow: hidden;
}

.card-header {
    border-radius: 15px;
    background-color: #0F233B;
    width: 340px;
    height: 99px;
}

.card-body {
    margin: 40px;
}

.img {
    color: white;
    text-align: center;
    padding-top: 10%;
}

.card-name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.card-body {
    text-align: center;
}
