.member-profile-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    margin: 40px auto;
}

.member-profile-card .card-photo {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 230px;
    margin: 20px 20px;
}

.member-profile-card .card-content {
    text-align: center;
    margin-bottom: 40px;
}

.member-profile-card .card-content h2 {
    font-size: 1.2em;
}

.member-profile-card .card-content p {
    font-size: 1em;
    color: #0A7AFF;
}

.member-profile-card .square-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1.5 / 1.75;
    object-fit: cover;
    cursor: pointer;
}

.popup-profile-photo {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1000px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    display: flex;
}

.text-content {
    margin-left: 40px;
}

.text-content > p {
    margin-top: 7px;
    font-weight: 600;
}

.text-content em {
    display: block;
}

.text-content .about-section h4 {
    font-weight: bold;
    font-size: 1.2em;
}

.popup-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 3px;
}

.popup-title div {
    display: flex;
    align-items: center;
}

.popup-title div h3 {
    margin-right: 10px;
    margin-bottom: 0px;
    font-size: 1.8em;
    font-weight: bold;
}

#linkedin-icon {
    width: 24px;
    height: 24px;
}

#close-popup {
    cursor: pointer;
    width: 24px;
    height: 24px;
}