.footer-section {
  background-color: #0F233B;
  color: #FFFFFF;
  padding: 40px 40px 15px 40px;
}

.contact-us {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-us h1 {
  font-size: 30px;
}

.contact-us p {
  font-size: 18px;
}

.links {
  display: inline;
  display: flex;
  justify-content: center;
}

.links .nav-btn {
  margin: 20px 30px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
