.footer-section {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 40px 40px 15px 40px;
  font-family: var(--main-font);
}

.contact-us {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-us h1 {
  font-size: 30px;
}

.contact-us p {
  font-size: 18px;
}

.links {
  display: inline;
  display: flex;
  justify-content: center;
}

.links .nav-btn {
  margin: 20px 30px;
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
}
