.footer-section {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 40px 40px 15px 40px;
    font-family: var(--main-font);
}

.footer-content {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 150px;
}

.contact-us h1 {
    font-size: 24px;
}

.contact-us p {
    font-size: 16px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 400px;
    align-items: flex-start;
}

.links .nav-btn {
    margin: 12px 32px;
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.social-links {
    margin-right: 60px;
    width: 200px;
}

.social-links p {
    margin: 0;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.social-icon {
    width: 24px;
    height: auto;
    margin-right: 10px;
}

.footer-logo {
    width: 120px;
    height: auto;
}

.social-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}

.social-links h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}