.events-page .header {
    width: 100%;
    height: 550px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.events-page .header img {
    position: absolute;
    width: 100%;
    filter: brightness(0.8);
}

.events-page .header section {
    color: white;
    z-index: 0;
    text-align: center;
}

.events-label {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.events-label h2 {
    font-size: 50px;
    font-weight: 250;
    color: #AAA5A5;
}

.events-label p {
    display: inline-block;
    margin: 20px 30px;
    font-weight: 700;
}

.events-label p:nth-child(2) {
    color: #0A7AFF;
}

.events-label p:nth-child(3) {
    color: #6530E8;
}

.events-page .header h1 {
    font-size: var(--page-title);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.event-section1, .event-section2 {
    display: flex;
    align-items: center;
    background-color: #0F233B;
}

.event-section2 {
    background-color: #FBFAFA;
}

.section-image1, .section-image2 {
    /* align image2 to the right */
    flex-shrink: 0;
    margin-right: 40px;
}

.section-body1, .section-body2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.section-title1, .section-title2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.section-title1 span,
.section-title2 span {
    font-weight: lighter;
}

.section-description1 {
    margin-bottom: 20px;
    color: #FFFFFF
}

.section-title2, .section-description2 {
    color: #0F233B
}

.event-button1, .event-button2 {
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}

.event-button2 {
    background-color: #0F233B;
    color: white;
}