/* PROFILE PAGE */
.profile-page {
    padding: 20px;
    max-width: 800px;
    margin: 120px auto 50px auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background-color: var(--white);
}

/* PROFILE HEADER */
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--dark-blue);
    transition: transform 0.3s;
}

.profile-picture:hover {
    transform: scale(1.05);
}

/* PROFILE INFO */
.profile-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
}

.profile-info-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-info-field label {
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--dark-blue);
}

.profile-info-field-text {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--dark-blue);
    color: var(--gray);
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
}

/* MEMBERSHIP STATUS */
.membership-status {
    margin-top: 50px;
}

.membership-status h3 {
    margin-bottom: 30px;
    color: var(--dark-blue);
    font-size: 30px;
    font-weight: 600;
}

.membership-status p {
    color: var(--text-gray);
    font-size: 16px;
}

/* CAROUSEL */
.carousel {
    width: 100%;
    margin-top: 20px;
}

.carousel .slide {
    background-color: var(--gray-white);
    border-radius: 5px;
    padding: 20px;
}

.carousel .slide .event-loading {
    text-align: center;
    padding: 10px;
}

.carousel .recording-history-heading,
.carousel .event-history-heading {
    margin-top: 40px;
}

.carousel .slide img {
    max-width: 100%;
}

.carousel.carousel-slider .control-arrow:hover {
    background-color: transparent;
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid var(--dark-blue);
    border-radius: 40px;
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid var(--dark-blue);
    border-radius: 40px;
}

.carousel .control-dots .dot {
    background-color: var(--dark-blue);
}

/* LOGOUT BUTTON */
.logout-button {
    padding-top: 180px;
}

/* MOBILE STYLES */
@media screen and (max-width: 800px) {
    .profile-page {
        padding: 10px;
    }

    .profile-info {
        grid-template-columns: 1fr;
    }
}

/* PROFILE EVENT HISTORY */
.profile-event-history {
    margin-top: 50px;
}

.profile-event-history h3 {
    margin-bottom: 30px;
    color: var(--dark-blue);
    font-size: 30px;
    font-weight: 600;
}

.profile-event-history .carousel .slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-event-history .event {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 20px;
}

/* PROFILE RECORDING HISTORY */
.profile-recording-history {
    margin-top: 50px;
}

.profile-recording-history h3 {
    margin-bottom: 30px;
    color: var(--dark-blue);
    font-size: 30px;
    font-weight: 600;
}

.profile-recording-history .carousel .slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-recording-history .event {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 20px;
}
