.navbar {
    background-color: var(--gray-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    box-shadow: 0 2px 10px var(--light-gray);

    font-family: "Arimo", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 999;
}

.pages-links {
    height: 80px;
    display: flex;
    flex-direction: row;
}

.nav-btn {
    padding: 40px 0 20px 0;
    margin: 0 25px 20px 25px;
    align-content: center;

    display: inline-block;
    background-image: linear-gradient(var(--dark-blue) 0 0, var(--dark-blue) 100%);
    background-position: 0 100%;
    background-size: 0 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.pages-links .nav-btn {
    text-decoration: none;
    color: var(--dark-blue);
}

.nav-btn:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
}

.logo {
    padding-left: 20px;
}

.nav-logo-icon {
    width: 57px;
}