
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 40px;
}

#pages-links {
  display: inline;
}

#pages-links .nav-btn {
  margin: 40px;
  text-decoration: none;
  color: black;
}

button {
  border-radius: 25px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
}